.contact {
    //background-color: $color-grey-light-1;
    padding: 8rem 0;

    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media only screen and (max-width: $bp-md) {
            flex-direction: column;
            position: relative;
            justify-content: center;
        }
    }

    &__form {
        flex: 0 0 45%;
        box-shadow: 0 0 1rem rgba($color: #000000, $alpha: .1);
        border-radius: 1rem;
        padding: 2rem 4rem;
        opacity: 1;
        // animation-duration: 1s;

        // &.animate__animated {
        //     opacity: 1 !important;
        // }
        @media only screen and (max-width: $bp-md) {
            flex: 0 0 50%;
            width: 90%;
            
        }
    }

    &__img {
        flex: 1 1 55%;
        // opacity: 0;
        // &.animate__animated {
        //     opacity: 1 !important;
        // }
        @media only screen and (max-width: $bp-md) {
            flex: 0 0 50%;
            position: absolute;


            
        }

        &-image {
            width: 600px;
            margin: 0 auto;
            @media only screen and (max-width: 1200px) {
                width: 500px;
                
            }
            @media only screen and (max-width: 1000px) {
                width: 400px;
                
            }
            @media only screen and (max-width: $bp-md) {
                //width: 300px;
                margin: auto auto;
            }
            @media only screen and (max-width: 400px) {
                width: 300px;
                margin: auto auto;
            }
            &-img {
                //display: block;
                width: 100%;
                @media only screen and (max-width: $bp-md) {
                    opacity: .3;
                }
            }
        }
    }
}


.form {


    &__div {
        margin-bottom: 3rem;
        position: relative;
    }
    &__input {
        font-size: 2rem;
        position: relative;
        width: 100%;
        border: 1.5px solid $color-primary-dark;
        border-radius: 1rem;
        outline: none;
        padding: 1rem;
        background-color: $color-white;
        z-index: 1;


        &:focus {
            color: $color-primary;
            border: 1.5px solid $color-primary;

            & + .form__label {
                top: -1rem;
                font-size: 1.1rem;
                color: $color-primary;
                font-weight: bold;
            }
        }
        
    }

    &__label {
        position: absolute;
        left: 1rem;
        top: .8rem;
        padding: 0 .25rem;
        background-color: $color-white;
        color: $color-primary-dark;
        font-size: 1.6rem;
        transition: .4s;
        z-index: 2;
    }
}

textarea {

    resize: none;

  }


  .form__input:not(:placeholder-shown).form__input:not(:focus) {
    color: $color-primary;
    border: 1.5px solid $color-primary;
    & + .form__label{
        color: $color-primary;
        top: -1rem;
        font-size: 1.1rem;
        font-weight: bold;
    }

} 

.errorinput {
    border-color: red;
    color: red;
    &:focus {
        border: 1.5px solid red;
        color: red;
        & + .form__label {
            color: $color-primary;
            top: -1rem;
            font-size: 1.1rem;
            font-weight: bold;
        }
    }
    &:not(:placeholder-shown).errorinput:not(:focus) {
        color: red;
        border: 1.5px solid red;
        & + .form__label{
            color: $color-primary;
            top: -1rem;
            font-size: 1.1rem;
            font-weight: bold;
        }
    }
}
.errorlabel {
    color:red !important;
}


.successinput {
    border-color: green;
    color: green;
    &:focus {
        border: 1.5px solid green;
        color: green;
        & + .form__label {
            color: $color-primary;
            top: -1rem;
            font-size: 1.1rem;
            font-weight: bold;
        }
    }
    &:not(:placeholder-shown).successinput:not(:focus) {
        color: green;
        border: 1.5px solid green;
        & + .form__label{
            color: $color-primary;
            top: -1rem;
            font-size: 1.1rem;
            font-weight: bold;
        }
    }
}
.successlabel {
    color:green !important;
}

.fa-spinner {
    font-size: 2rem;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  
  }
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }


